# Data Extracting and Preprocessing

In [2]:
import pandas as pd
import requests
from pandas import json_normalize  # To handle nested data

# URLs
quiz_url = "https://www.jsonkeeper.com/b/LLQT"
submission_url = "https://api.jsonserve.com/rJvd7g"
historical_url = "https://api.jsonserve.com/XgAgFJ"

# Fetching data from URLs
quiz_data = requests.get(quiz_url).json()
historical_data = requests.get(historical_url).json()
submission_data = requests.get(submission_url).json()

# Flattening Data
quiz_df = pd.json_normalize(quiz_data)
historical_df = pd.json_normalize(historical_data)
submission_df = pd.json_normalize(submission_data)

# Display DataFrames in Console
print("Quiz Data (Flattened):")
print(quiz_df.head(), "\n")

print("Historical Data (Flattened):")
print(historical_df.head(), "\n")

print("Submission Data (Flattened):")
print(submission_df.head(), "\n")

Quiz Data (Flattened):
   quiz.id quiz.name                                         quiz.title  \
0       43      None  Structural Organisation in Animals and Plants (7)

  quiz.description quiz.difficulty_level                          quiz.topic  \
0                                   None  Structural Organisation in Animals

                       quiz.time  quiz.is_published  \
0  2024-07-03T00:00:00.000+05:30               True

                 quiz.created_at                quiz.updated_at  ...  \
0  2024-07-03T11:00:08.958+05:30  2024-09-23T18:43:27.751+05:30  ...

   quiz.exam_id quiz.show_unanswered quiz.ends_at quiz.lives  quiz.live_count  \
0          None                False   2025-01-18       None        Free Test

   quiz.coin_count  quiz.questions_count   quiz.daily_date  \
0               -1                   128  January 17, 2025

   quiz.max_mistake_count                                     quiz.questions
0                      15  [{'id': 1827, 'description': 'The tissue which...

[1 rows x 32 columns]

Historical Data (Flattened):
       id  quiz_id                       user_id  \
0  336497       51  YcDFSO4ZukTJnnFMgRNVwZTE4j42
1  336448        6  YcDFSO4ZukTJnnFMgRNVwZTE4j42
2  333330       51  YcDFSO4ZukTJnnFMgRNVwZTE4j42
3  333242        6  YcDFSO4ZukTJnnFMgRNVwZTE4j42
4  329504       51  YcDFSO4ZukTJnnFMgRNVwZTE4j42

                    submitted_at                     created_at  \
0  2025-01-17T15:30:18.027+05:30  2025-01-17T15:30:18.044+05:30
1  2025-01-17T15:17:44.042+05:30  2025-01-17T15:17:44.056+05:30
2  2025-01-16T20:13:19.682+05:30  2025-01-16T20:13:19.699+05:30
3  2025-01-16T20:00:11.562+05:30  2025-01-16T20:00:11.573+05:30
4  2025-01-15T20:34:39.462+05:30  2025-01-15T20:34:39.478+05:30

                      updated_at  score  trophy_level accuracy speed  ...  \
0  2025-01-17T15:30:18.044+05:30    108             2     90 %   100  ...
1  2025-01-17T15:17:44.056+05:30     92             1    100 %   100  ...
2  2025-01-16T20:13:19.699+05:30    116             2     96 %   100  ...
3  2025-01-16T20:00:11.573+05:30     36             2     90 %   100  ...
4  2025-01-15T20:34:39.478+05:30     36             3     31 %    96  ...

  response_map.3194 response_map.2417  response_map.2425  response_map.2435  \
0               NaN               NaN                NaN                NaN
1               NaN               NaN                NaN                NaN
2               NaN               NaN                NaN                NaN
3               NaN               NaN                NaN                NaN
4               NaN               NaN                NaN                NaN

  response_map.2440 response_map.2444 response_map.2452 response_map.2459  \
0               NaN               NaN               NaN               NaN
1               NaN               NaN               NaN               NaN
2               NaN               NaN               NaN               NaN
3               NaN               NaN               NaN               NaN
4               NaN               NaN               NaN               NaN

  response_map.2469  response_map.2515
0               NaN                NaN
1               NaN                NaN
2               NaN                NaN
3               NaN                NaN
4               NaN                NaN

[5 rows x 287 columns]

Submission Data (Flattened):
       id  quiz_id                       user_id  \
0  336566       43  7ZXdz3zHuNcdg9agb5YpaOGLQqw2

                    submitted_at                     created_at  \
0  2025-01-17T15:51:29.859+05:30  2025-01-17T15:51:29.871+05:30

                      updated_at  score  trophy_level accuracy speed  ...  \
0  2025-01-17T15:51:29.871+05:30     32             2     80 %   100  ...

  quiz.exam_id quiz.show_unanswered  quiz.ends_at  quiz.lives quiz.live_count  \
0         None                False    2025-01-18        None       Free Test

  quiz.coin_count quiz.questions_count   quiz.daily_date  \
0              -1                  128  January 17, 2025

  quiz.max_mistake_count  quiz.reading_materials
0                     15                      []

[1 rows x 68 columns]

In [3]:
quiz_df.head()

,quiz.id,quiz.name,quiz.title,quiz.description,quiz.difficulty_level,quiz.topic,quiz.time,quiz.is_published,quiz.created_at,quiz.updated_at,...,quiz.exam_id,quiz.show_unanswered,quiz.ends_at,quiz.lives,quiz.live_count,quiz.coin_count,quiz.questions_count,quiz.daily_date,quiz.max_mistake_count,quiz.questions
0,43,None,Structural Organisation in Animals and Plants (7),,None,Structural Organisation in Animals,2024-07-03T00:00:00.000+05:30,True,2024-07-03T11:00:08.958+05:30,2024-09-23T18:43:27.751+05:30,...,None,False,2025-01-18,None,Free Test,-1,128,"January 17, 2025",15,"[{'id': 1827, 'description': 'The tissue which..."

In [4]:
#Drop null value columns
quiz_df = quiz_df.dropna(axis=1)
quiz_df

,quiz.id,quiz.title,quiz.description,quiz.topic,quiz.time,quiz.is_published,quiz.created_at,quiz.updated_at,quiz.duration,quiz.end_time,...,quiz.show_mastery_option,quiz.is_custom,quiz.show_unanswered,quiz.ends_at,quiz.live_count,quiz.coin_count,quiz.questions_count,quiz.daily_date,quiz.max_mistake_count,quiz.questions
0,43,Structural Organisation in Animals and Plants (7),,Structural Organisation in Animals,2024-07-03T00:00:00.000+05:30,True,2024-07-03T11:00:08.958+05:30,2024-09-23T18:43:27.751+05:30,128,2024-07-04T00:00:00.000+05:30,...,False,False,False,2025-01-18,Free Test,-1,128,"January 17, 2025",15,"[{'id': 1827, 'description': 'The tissue which..."

In [5]:
columns_to_drop = ['quiz.description','quiz.time','quiz.is_published','quiz.created_at','quiz.updated_at',
            'quiz.end_time','quiz.shuffle', 'quiz.lock_solutions','quiz.is_form',
            'quiz.show_mastery_option','quiz.is_custom','quiz.live_count','quiz.coin_count',
             'quiz.daily_date']

quiz_df = quiz_df.drop(columns=columns_to_drop)
quiz_df

,quiz.id,quiz.title,quiz.topic,quiz.duration,quiz.negative_marks,quiz.correct_answer_marks,quiz.show_answers,quiz.show_unanswered,quiz.ends_at,quiz.questions_count,quiz.max_mistake_count,quiz.questions
0,43,Structural Organisation in Animals and Plants (7),Structural Organisation in Animals,128,1.0,4.0,True,False,2025-01-18,128,15,"[{'id': 1827, 'description': 'The tissue which..."

In [6]:
quiz_df.columns

Index(['quiz.id', 'quiz.title', 'quiz.topic', 'quiz.duration',
       'quiz.negative_marks', 'quiz.correct_answer_marks', 'quiz.show_answers',
       'quiz.show_unanswered', 'quiz.ends_at', 'quiz.questions_count',
       'quiz.max_mistake_count', 'quiz.questions'],
      dtype='object')

In [7]:
submission_df.head()

,id,quiz_id,user_id,submitted_at,created_at,updated_at,score,trophy_level,accuracy,speed,...,quiz.exam_id,quiz.show_unanswered,quiz.ends_at,quiz.lives,quiz.live_count,quiz.coin_count,quiz.questions_count,quiz.daily_date,quiz.max_mistake_count,quiz.reading_materials
0,336566,43,7ZXdz3zHuNcdg9agb5YpaOGLQqw2,2025-01-17T15:51:29.859+05:30,2025-01-17T15:51:29.871+05:30,2025-01-17T15:51:29.871+05:30,32,2,80 %,100,...,None,False,2025-01-18,None,Free Test,-1,128,"January 17, 2025",15,[]

In [8]:
historical_df.head()

,id,quiz_id,user_id,submitted_at,created_at,updated_at,score,trophy_level,accuracy,speed,...,response_map.3194,response_map.2417,response_map.2425,response_map.2435,response_map.2440,response_map.2444,response_map.2452,response_map.2459,response_map.2469,response_map.2515
0,336497,51,YcDFSO4ZukTJnnFMgRNVwZTE4j42,2025-01-17T15:30:18.027+05:30,2025-01-17T15:30:18.044+05:30,2025-01-17T15:30:18.044+05:30,108,2,90 %,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,336448,6,YcDFSO4ZukTJnnFMgRNVwZTE4j42,2025-01-17T15:17:44.042+05:30,2025-01-17T15:17:44.056+05:30,2025-01-17T15:17:44.056+05:30,92,1,100 %,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,333330,51,YcDFSO4ZukTJnnFMgRNVwZTE4j42,2025-01-16T20:13:19.682+05:30,2025-01-16T20:13:19.699+05:30,2025-01-16T20:13:19.699+05:30,116,2,96 %,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,333242,6,YcDFSO4ZukTJnnFMgRNVwZTE4j42,2025-01-16T20:00:11.562+05:30,2025-01-16T20:00:11.573+05:30,2025-01-16T20:00:11.573+05:30,36,2,90 %,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,329504,51,YcDFSO4ZukTJnnFMgRNVwZTE4j42,2025-01-15T20:34:39.462+05:30,2025-01-15T20:34:39.478+05:30,2025-01-15T20:34:39.478+05:30,36,3,31 %,96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
historical_df.isnull().sum()

id                    0
quiz_id               0
user_id               0
submitted_at          0
created_at            0
                     ..
response_map.2444    13
response_map.2452    13
response_map.2459    13
response_map.2469    13
response_map.2515    13
Length: 287, dtype: int64

In [10]:
historical_df.columns

Index(['id', 'quiz_id', 'user_id', 'submitted_at', 'created_at', 'updated_at',
       'score', 'trophy_level', 'accuracy', 'speed',
       ...
       'response_map.3194', 'response_map.2417', 'response_map.2425',
       'response_map.2435', 'response_map.2440', 'response_map.2444',
       'response_map.2452', 'response_map.2459', 'response_map.2469',
       'response_map.2515'],
      dtype='object', length=287)

In [11]:
historical_columns_to_remove = ['submitted_at', 'created_at', 'updated_at',
       'type', 'started_at', 'ended_at',
        'quiz.name', 'quiz.description',
       'quiz.difficulty_level', 'quiz.is_published',
       'quiz.created_at', 'quiz.updated_at', 'quiz.end_time',
      'quiz.shuffle',
       'quiz.show_answers', 'quiz.lock_solutions', 'quiz.is_form',
       'quiz.show_mastery_option', 'quiz.reading_material', 'quiz.quiz_type',
       'quiz.is_custom', 'quiz.banner_id', 'quiz.exam_id',
       'quiz.show_unanswered', 'quiz.ends_at', 'quiz.lives', 'quiz.live_count',
       'quiz.coin_count', 'quiz.daily_date',
       'quiz.reading_materials']

historical_df = historical_df.drop(columns=historical_columns_to_remove)

historical_df

,id,quiz_id,user_id,score,trophy_level,accuracy,speed,final_score,negative_score,correct_answers,...,response_map.3194,response_map.2417,response_map.2425,response_map.2435,response_map.2440,response_map.2444,response_map.2452,response_map.2459,response_map.2469,response_map.2515
0,336497,51,YcDFSO4ZukTJnnFMgRNVwZTE4j42,108,2,90 %,100,105.0,3.0,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,336448,6,YcDFSO4ZukTJnnFMgRNVwZTE4j42,92,1,100 %,100,92.0,0.0,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,333330,51,YcDFSO4ZukTJnnFMgRNVwZTE4j42,116,2,96 %,100,115.0,1.0,29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,333242,6,YcDFSO4ZukTJnnFMgRNVwZTE4j42,36,2,90 %,100,35.0,1.0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,329504,51,YcDFSO4ZukTJnnFMgRNVwZTE4j42,36,3,31 %,96,16.0,20.0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,328488,57,YcDFSO4ZukTJnnFMgRNVwZTE4j42,40,3,38 %,86,24.0,16.0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,328414,6,YcDFSO4ZukTJnnFMgRNVwZTE4j42,36,3,50 %,78,27.0,9.0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,321514,20,YcDFSO4ZukTJnnFMgRNVwZTE4j42,12,2,30 %,100,5.0,7.0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,320963,24,YcDFSO4ZukTJnnFMgRNVwZTE4j42,76,2,100 %,95,76.0,0.0,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,320916,18,YcDFSO4ZukTJnnFMgRNVwZTE4j42,40,1,100 %,100,40.0,0.0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,315179,25,YcDFSO4ZukTJnnFMgRNVwZTE4j42,112,2,93 %,100,110.0,2.0,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,315081,18,YcDFSO4ZukTJnnFMgRNVwZTE4j42,64,3,84 %,86,61.0,3.0,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,257774,58,YcDFSO4ZukTJnnFMgRNVwZTE4j42,52,2,43 %,100,35.0,17.0,13,...,12787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,195808,50,YcDFSO4ZukTJnnFMgRNVwZTE4j42,24,3,66 %,90,21.0,3.0,6,...,NaN,9684.0,9715.0,9754.0,9776.0,9793.0,9824.0,9852.0,9890.0,10075.0

In [12]:
# Convert to appropriate data types
historical_df['quiz.time'] = pd.to_datetime(historical_df['quiz.time'], errors='coerce')  # Convert to datetime
#historical_df['duration'] = pd.to_timedelta(historical_df['duration'], errors='coerce')  # Convert to timedelta

# Remove '%' symbol and convert to numeric values
historical_df['accuracy'] = historical_df['accuracy'].str.replace('%', '', regex=True).astype(float) / 100

# Convert numeric-like object columns
numeric_columns = ['accuracy', 'speed', 'final_score', 'negative_score', 'quiz.negative_marks', 'quiz.correct_answer_marks']
for col in numeric_columns:
    historical_df[col] = pd.to_numeric(historical_df[col], errors='coerce')  # Convert to float/int

# Convert categorical columns
categorical_columns = ['user_id', 'source', 'quiz.title', 'quiz.topic', 'rank_text']
for col in categorical_columns:
    historical_df[col] = historical_df[col].astype('category')

# Check the updated data types
print(historical_df.dtypes)

id                      int64
quiz_id                 int64
user_id              category
score                   int64
trophy_level            int64
                       ...
response_map.2444     float64
response_map.2452     float64
response_map.2459     float64
response_map.2469     float64
response_map.2515     float64
Length: 257, dtype: object

In [13]:
# Display the specified columns
columns_to_display = ['quiz.time','duration','accuracy', 'speed', 'final_score', 'negative_score', 'quiz.negative_marks', 'quiz.correct_answer_marks',
                      'user_id', 'source', 'quiz.title', 'quiz.topic', 'rank_text',]
print(historical_df[columns_to_display])

                   quiz.time duration  accuracy  speed  final_score  \
0  2024-07-12 00:00:00+05:30    15:00      0.90    100        105.0
1  2024-04-25 00:00:00+05:30    15:00      1.00    100         92.0
2  2024-07-12 00:00:00+05:30    15:00      0.96    100        115.0
3  2024-04-25 00:00:00+05:30    15:00      0.90    100         35.0
4  2024-07-12 00:00:00+05:30    15:00      0.31     96         16.0
5  2024-07-12 00:00:00+05:30    15:00      0.38     86         24.0
6  2024-04-25 00:00:00+05:30    15:00      0.50     78         27.0
7  2024-06-07 00:00:00+05:30    15:00      0.30    100          5.0
8  2024-06-10 00:00:00+05:30    15:00      1.00     95         76.0
9  2024-06-07 00:00:00+05:30    15:00      1.00    100         40.0
10 2024-06-10 00:00:00+05:30    15:00      0.93    100        110.0
11 2024-06-07 00:00:00+05:30    15:00      0.84     86         61.0
12 2024-07-12 00:00:00+05:30    15:00      0.43    100         35.0
13 2024-07-11 00:00:00+05:30    15:00      0.66     90         21.0

    negative_score  quiz.negative_marks  quiz.correct_answer_marks  \
0              3.0                  1.0                        4.0
1              0.0                  1.0                        4.0
2              1.0                  1.0                        4.0
3              1.0                  1.0                        4.0
4             20.0                  1.0                        4.0
5             16.0                  1.0                        4.0
6              9.0                  1.0                        4.0
7              7.0                  1.0                        4.0
8              0.0                  1.0                        4.0
9              0.0                  1.0                        4.0
10             2.0                  1.0                        4.0
11             3.0                  1.0                        4.0
12            17.0                  1.0                        4.0
13             3.0                  1.0                        4.0

                         user_id source  \
0   YcDFSO4ZukTJnnFMgRNVwZTE4j42   exam
1   YcDFSO4ZukTJnnFMgRNVwZTE4j42   exam
2   YcDFSO4ZukTJnnFMgRNVwZTE4j42   live
3   YcDFSO4ZukTJnnFMgRNVwZTE4j42   live
4   YcDFSO4ZukTJnnFMgRNVwZTE4j42   exam
5   YcDFSO4ZukTJnnFMgRNVwZTE4j42   exam
6   YcDFSO4ZukTJnnFMgRNVwZTE4j42   exam
7   YcDFSO4ZukTJnnFMgRNVwZTE4j42   live
8   YcDFSO4ZukTJnnFMgRNVwZTE4j42   live
9   YcDFSO4ZukTJnnFMgRNVwZTE4j42   live
10  YcDFSO4ZukTJnnFMgRNVwZTE4j42   exam
11  YcDFSO4ZukTJnnFMgRNVwZTE4j42   exam
12  YcDFSO4ZukTJnnFMgRNVwZTE4j42   exam
13  YcDFSO4ZukTJnnFMgRNVwZTE4j42   exam

                                     quiz.title  \
0                         Human Physiology (15)
1                          Human Physiology PYQ
2                         Human Physiology (15)
3                          Human Physiology PYQ
4                         Human Physiology (15)
5                                  Reproduction
6                          Human Physiology PYQ
7   PRINCIPLES OF INHERITANCE AND VARIATION PYQ
8                MICROBES IN HUMAN WELFARE  PYQ
9                       REPRODUCTIVE HEALTH PYQ
10                 HUMAN HEALTH AND DISEASE PYQ
11                      REPRODUCTIVE HEALTH PYQ
12                                 Reproduction
13                        Human Physiology (14)

                                  quiz.topic            rank_text
0                Body Fluids and Circulation   Topic Rank - #-171
1               Body Fluids and Circulation   Topic Rank - #-9140
2                Body Fluids and Circulation   Topic Rank - #-418
3               Body Fluids and Circulation   Topic Rank - #-1598
4                Body Fluids and Circulation   Topic Rank - #2023
5                         Human Reproduction   Topic Rank - #1810
6               Body Fluids and Circulation   Topic Rank - #-1598
7   principles of inheritance and variation    Topic Rank - #2556
8                  microbes in human welfare  Topic Rank - #-8479
9                       reproductive health   Topic Rank - #-2380
10                 human health and disease   Topic Rank - #-5215
11                      reproductive health   Topic Rank - #-5764
12                       Reproductive Health    Topic Rank - #301
13              Respiration and Gas Exchange   Topic Rank - #2392

In [14]:
# Identify object-type columns
object_columns = historical_df.select_dtypes(include=['object']).columns
print("Object-Type Columns:\n", object_columns)

Object-Type Columns:
 Index(['duration'], dtype='object')

In [15]:
historical_df = historical_df.drop('duration', axis=1)

In [16]:
import re
#To extract just the ranks
historical_df['rank'] = historical_df['rank_text'].apply(lambda x: abs(int(re.search(r'(?<=#)(-?\d+)', x).group(0))) if re.search(r'(?<=#)(-?\d+)', x) else None)

# Drop the original 'rank_text' column
historical_df.drop('rank_text', axis=1, inplace=True)

# Display the updated DataFrame
print(historical_df)

        id  quiz_id                       user_id  score  trophy_level  \
0   336497       51  YcDFSO4ZukTJnnFMgRNVwZTE4j42    108             2
1   336448        6  YcDFSO4ZukTJnnFMgRNVwZTE4j42     92             1
2   333330       51  YcDFSO4ZukTJnnFMgRNVwZTE4j42    116             2
3   333242        6  YcDFSO4ZukTJnnFMgRNVwZTE4j42     36             2
4   329504       51  YcDFSO4ZukTJnnFMgRNVwZTE4j42     36             3
5   328488       57  YcDFSO4ZukTJnnFMgRNVwZTE4j42     40             3
6   328414        6  YcDFSO4ZukTJnnFMgRNVwZTE4j42     36             3
7   321514       20  YcDFSO4ZukTJnnFMgRNVwZTE4j42     12             2
8   320963       24  YcDFSO4ZukTJnnFMgRNVwZTE4j42     76             2
9   320916       18  YcDFSO4ZukTJnnFMgRNVwZTE4j42     40             1
10  315179       25  YcDFSO4ZukTJnnFMgRNVwZTE4j42    112             2
11  315081       18  YcDFSO4ZukTJnnFMgRNVwZTE4j42     64             3
12  257774       58  YcDFSO4ZukTJnnFMgRNVwZTE4j42     52             2
13  195808       50  YcDFSO4ZukTJnnFMgRNVwZTE4j42     24             3

    accuracy  speed  final_score  negative_score  correct_answers  ...  \
0       0.90    100        105.0             3.0               27  ...
1       1.00    100         92.0             0.0               23  ...
2       0.96    100        115.0             1.0               29  ...
3       0.90    100         35.0             1.0                9  ...
4       0.31     96         16.0            20.0                9  ...
5       0.38     86         24.0            16.0               10  ...
6       0.50     78         27.0             9.0                9  ...
7       0.30    100          5.0             7.0                3  ...
8       1.00     95         76.0             0.0               19  ...
9       1.00    100         40.0             0.0               10  ...
10      0.93    100        110.0             2.0               28  ...
11      0.84     86         61.0             3.0               16  ...
12      0.43    100         35.0            17.0               13  ...
13      0.66     90         21.0             3.0                6  ...

    response_map.2417 response_map.2425  response_map.2435  response_map.2440  \
0                 NaN               NaN                NaN                NaN
1                 NaN               NaN                NaN                NaN
2                 NaN               NaN                NaN                NaN
3                 NaN               NaN                NaN                NaN
4                 NaN               NaN                NaN                NaN
5                 NaN               NaN                NaN                NaN
6                 NaN               NaN                NaN                NaN
7                 NaN               NaN                NaN                NaN
8                 NaN               NaN                NaN                NaN
9                 NaN               NaN                NaN                NaN
10                NaN               NaN                NaN                NaN
11                NaN               NaN                NaN                NaN
12                NaN               NaN                NaN                NaN
13             9684.0            9715.0             9754.0             9776.0

    response_map.2444  response_map.2452  response_map.2459  \
0                 NaN                NaN                NaN
1                 NaN                NaN                NaN
2                 NaN                NaN                NaN
3                 NaN                NaN                NaN
4                 NaN                NaN                NaN
5                 NaN                NaN                NaN
6                 NaN                NaN                NaN
7                 NaN                NaN                NaN
8                 NaN                NaN                NaN
9                 NaN                NaN                NaN
10                NaN                NaN                NaN
11                NaN                NaN                NaN
12                NaN                NaN                NaN
13             9793.0             9824.0             9852.0

    response_map.2469  response_map.2515  rank
0                 NaN                NaN   171
1                 NaN                NaN  9140
2                 NaN                NaN   418
3                 NaN                NaN  1598
4                 NaN                NaN  2023
5                 NaN                NaN  1810
6                 NaN                NaN  1598
7                 NaN                NaN  2556
8                 NaN                NaN  8479
9                 NaN                NaN  2380
10                NaN                NaN  5215
11                NaN                NaN  5764
12                NaN                NaN   301
13             9890.0            10075.0  2392

[14 rows x 256 columns]

In [17]:
historical_df['quiz.time']

0    2024-07-12 00:00:00+05:30
1    2024-04-25 00:00:00+05:30
2    2024-07-12 00:00:00+05:30
3    2024-04-25 00:00:00+05:30
4    2024-07-12 00:00:00+05:30
5    2024-07-12 00:00:00+05:30
6    2024-04-25 00:00:00+05:30
7    2024-06-07 00:00:00+05:30
8    2024-06-10 00:00:00+05:30
9    2024-06-07 00:00:00+05:30
10   2024-06-10 00:00:00+05:30
11   2024-06-07 00:00:00+05:30
12   2024-07-12 00:00:00+05:30
13   2024-07-11 00:00:00+05:30
Name: quiz.time, dtype: datetime64[ns, UTC+05:30]

In [18]:
# Convert the 'quiz.time' column to datetime (if it's not already in datetime format)
historical_df['quiz.time'] = pd.to_datetime(historical_df['quiz.time'])

# Extract only the date part
historical_df['quiz.time'] = historical_df['quiz.time'].dt.date

# Display the updated DataFrame
print(historical_df['quiz.time'])

0     2024-07-12
1     2024-04-25
2     2024-07-12
3     2024-04-25
4     2024-07-12
5     2024-07-12
6     2024-04-25
7     2024-06-07
8     2024-06-10
9     2024-06-07
10    2024-06-10
11    2024-06-07
12    2024-07-12
13    2024-07-11
Name: quiz.time, dtype: object

In [19]:
historical_df['quiz.title']

0                           Human Physiology (15)
1                            Human Physiology PYQ
2                           Human Physiology (15)
3                            Human Physiology PYQ
4                           Human Physiology (15)
5                                    Reproduction
6                            Human Physiology PYQ
7     PRINCIPLES OF INHERITANCE AND VARIATION PYQ
8                  MICROBES IN HUMAN WELFARE  PYQ
9                         REPRODUCTIVE HEALTH PYQ
10                   HUMAN HEALTH AND DISEASE PYQ
11                        REPRODUCTIVE HEALTH PYQ
12                                   Reproduction
13                          Human Physiology (14)
Name: quiz.title, dtype: category
Categories (8, object): ['HUMAN HEALTH AND DISEASE PYQ', 'Human Physiology (14)', 'Human Physiology (15)', 'Human Physiology PYQ', 'MICROBES IN HUMAN WELFARE  PYQ', 'PRINCIPLES OF INHERITANCE AND VARIATION PYQ', 'REPRODUCTIVE HEALTH PYQ', 'Reproduction']

In [20]:
# Function to clean titles
def clean_title(title):
    # Remove numbers in parentheses and the term 'PYQ'
    title = re.sub(r'\(\d+\)', '', title)  # Remove numbers in parentheses
    title = re.sub(r'PYQ', '', title)  # Remove 'PYQ'
    
    # Convert to CamelCase
    title = ''.join([word.capitalize() for word in title.split() if word])  # Capitalize and join

    return title

# Apply the cleaning function to the 'quiz.title' column
historical_df['quiz.title'] = historical_df['quiz.title'].apply(clean_title)

In [21]:
historical_df.head()

,id,quiz_id,user_id,score,trophy_level,accuracy,speed,final_score,negative_score,correct_answers,...,response_map.2417,response_map.2425,response_map.2435,response_map.2440,response_map.2444,response_map.2452,response_map.2459,response_map.2469,response_map.2515,rank
0,336497,51,YcDFSO4ZukTJnnFMgRNVwZTE4j42,108,2,0.90,100,105.0,3.0,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,171
1,336448,6,YcDFSO4ZukTJnnFMgRNVwZTE4j42,92,1,1.00,100,92.0,0.0,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9140
2,333330,51,YcDFSO4ZukTJnnFMgRNVwZTE4j42,116,2,0.96,100,115.0,1.0,29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,418
3,333242,6,YcDFSO4ZukTJnnFMgRNVwZTE4j42,36,2,0.90,100,35.0,1.0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1598
4,329504,51,YcDFSO4ZukTJnnFMgRNVwZTE4j42,36,3,0.31,96,16.0,20.0,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023

In [22]:
# Display the specified columns
columns_to_display = ['quiz.time','accuracy', 'speed', 'final_score', 'negative_score', 'quiz.negative_marks', 'quiz.correct_answer_marks',
                      'user_id', 'source', 'quiz.title', 'quiz.topic', 'rank',]
print(historical_df[columns_to_display])

     quiz.time  accuracy  speed  final_score  negative_score  \
0   2024-07-12      0.90    100        105.0             3.0
1   2024-04-25      1.00    100         92.0             0.0
2   2024-07-12      0.96    100        115.0             1.0
3   2024-04-25      0.90    100         35.0             1.0
4   2024-07-12      0.31     96         16.0            20.0
5   2024-07-12      0.38     86         24.0            16.0
6   2024-04-25      0.50     78         27.0             9.0
7   2024-06-07      0.30    100          5.0             7.0
8   2024-06-10      1.00     95         76.0             0.0
9   2024-06-07      1.00    100         40.0             0.0
10  2024-06-10      0.93    100        110.0             2.0
11  2024-06-07      0.84     86         61.0             3.0
12  2024-07-12      0.43    100         35.0            17.0
13  2024-07-11      0.66     90         21.0             3.0

    quiz.negative_marks  quiz.correct_answer_marks  \
0                   1.0                        4.0
1                   1.0                        4.0
2                   1.0                        4.0
3                   1.0                        4.0
4                   1.0                        4.0
5                   1.0                        4.0
6                   1.0                        4.0
7                   1.0                        4.0
8                   1.0                        4.0
9                   1.0                        4.0
10                  1.0                        4.0
11                  1.0                        4.0
12                  1.0                        4.0
13                  1.0                        4.0

                         user_id source                           quiz.title  \
0   YcDFSO4ZukTJnnFMgRNVwZTE4j42   exam                      HumanPhysiology
1   YcDFSO4ZukTJnnFMgRNVwZTE4j42   exam                      HumanPhysiology
2   YcDFSO4ZukTJnnFMgRNVwZTE4j42   live                      HumanPhysiology
3   YcDFSO4ZukTJnnFMgRNVwZTE4j42   live                      HumanPhysiology
4   YcDFSO4ZukTJnnFMgRNVwZTE4j42   exam                      HumanPhysiology
5   YcDFSO4ZukTJnnFMgRNVwZTE4j42   exam                         Reproduction
6   YcDFSO4ZukTJnnFMgRNVwZTE4j42   exam                      HumanPhysiology
7   YcDFSO4ZukTJnnFMgRNVwZTE4j42   live  PrinciplesOfInheritanceAndVariation
8   YcDFSO4ZukTJnnFMgRNVwZTE4j42   live               MicrobesInHumanWelfare
9   YcDFSO4ZukTJnnFMgRNVwZTE4j42   live                   ReproductiveHealth
10  YcDFSO4ZukTJnnFMgRNVwZTE4j42   exam                HumanHealthAndDisease
11  YcDFSO4ZukTJnnFMgRNVwZTE4j42   exam                   ReproductiveHealth
12  YcDFSO4ZukTJnnFMgRNVwZTE4j42   exam                         Reproduction
13  YcDFSO4ZukTJnnFMgRNVwZTE4j42   exam                      HumanPhysiology

                                  quiz.topic  rank
0                Body Fluids and Circulation   171
1               Body Fluids and Circulation   9140
2                Body Fluids and Circulation   418
3               Body Fluids and Circulation   1598
4                Body Fluids and Circulation  2023
5                         Human Reproduction  1810
6               Body Fluids and Circulation   1598
7   principles of inheritance and variation   2556
8                  microbes in human welfare  8479
9                       reproductive health   2380
10                 human health and disease   5215
11                      reproductive health   5764
12                       Reproductive Health   301
13              Respiration and Gas Exchange  2392

In [ ]:
#Export to csv
historical_df.to_csv("historical_data.csv", index=False)